<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="ro.onos.Xsseract">
  <uses-sdk android:targetSdkVersion="21" android:minSdkVersion="19" />
  <application android:label="Xsseract" android:icon="@drawable/Icon"  android:theme="@style/AppTheme"></application>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>